<!--footer-->
<div id="footer">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="title">Latest tweets</h2>
          <div class="tweet_block"></div>
        </div>
        <div class="col-md-3">
        	<h2 class="title">Get in touch!</h2>
          <form action="#" method="post">
          	<input class="form-control" type="text" name="name" id="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
              <input class="form-control" type="text" name="email" id="email" value="Email" onFocus="if (this.value == 'Email') this.value = '';" onBlur="if (this.value == '') this.value = 'Email';" />
              <textarea name="message" id="message" class="form-control" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';" >Message</textarea>
              <div class="clear"></div>
              <input type="reset" class="btn dark_btn" value="Clear form" />
              <input type="submit" class="btn send_btn" value="Send!" />
              <div class="clear"></div>
          </form>
        </div>
        <div class="col-md-3">
      	<h2 class="title">Testimonials</h2>
          <ul>
          	<li>
            	<span class="testimonials_arrow"></span>Orci nisi, luctus vitae imperdiet a, iquam vel urna. Pellentesque tincidunt laoreet est, in tristique sapien consequat a purus at ullamcorper pulvinar, massa libero magna.
            	<div class="clear"></div>
                <div class="author">Anna Smith, Company inc.</div>
            </li>
            <li>
            	<span class="testimonials_arrow"></span>Luctus vitae imperdiet a, iquamorci nisi lorem. Pellentesque tincidunt laoreet est, in tristique sapien consequat a purus at ullam pulvinar, massa libero consequat egestas mas.
            	<div class="clear"></div>
              <div class="author">John Doe, Company inc.</div>
            </li>
          </ul>
        </div>
        <div class="col-md-">
        	<h2 class="title">instagram photostream</h2>
            <div class="flickrs">
              <div class="FlickrImages">
                <ul></ul>
                <div class="clear"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
          	<div class="foot_logo"><%= link_to 'Home', root_path, class: 'foot_logo_link' %></div>
          	<div class="copyright">&copy; 2014 JUSS Media Professional Fashion Photography. All Rights Reserved.</div>
          </div>
          <div class="7">
            <div class="foot_right_block">
              <div class="fright">
                <form action="#" method="post">
                  <input class="inp_search" name="name" type="text" value="Search the Site" onfocus="if (this.value == 'Search the Site') this.value = '';" onblur="if (this.value == '') this.value = 'Search the Site';" />
                </form>
              </div>
              <div class="follow_us">
              	<ul>
                  <li><%= link_to "Facebook", 'http://fb.jussmedia.com', target: '_blank', class: 'facebook', rel: 'tooltip' %></li>
                  <li><%= link_to "Vimeo", 'http://vimeo.jussmedia.com', target: '_blank', class: 'vimeo', rel: 'tooltip' %></li>
                  <li><%= link_to "Tumblr", 'http://tumblr.jussmedia.com', target: '_blank', class: 'tumblr', rel: 'tooltip' %></li>
                  <li><%= link_to "Twitter", 'http://twitter.jussmedia.com', target: '_blank', class: 'twitter', rel: 'tooltip' %></li>
                  <li><%= link_to "Instagram", 'http://ig.jussmedia.com', target: '_blank', class: 'instagram', rel: 'tooltip' %></li>
                <ul>
              </div>
              <div class="clear"></div>

            	<div class="clear"></div>
            	<div class="foot_menu">
            		<ul>
                  <li class="current"><%= link_to 'Home', root_path %></li>
                  <li><%= link_to 'About', '#' %></li>
                  <li><%= link_to 'Portfolio', '#' %></li>
                  <li><%= link_to 'Blog', '#' %></li>
                  <li><%= link_to 'Contact', '#' %></li>
                </ul>
            	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//footer-->
